*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
body
{
	font-family: Arial, sans-serif;
	background: #f4f4f4;
	line-height: 1.6;
}
header
{
	background: linear-gradient(white, deepskyblue);
	color: darkblue;
	font-family: Algerian;
	text-align: center;
    padding: 30px;

}
header p 
{
   margin: 10px 0;

}
nav
{
	margin-top: 15px;

}
nav a 
{
	color: white;
	text-decoration: none;
	margin: 0 15px;
	font-weight: bold;

}
nav a:hover
{
   color: darkred;


}
section
{
	width: 80%;
	margin: 30px auto;
	background: white;
	padding: 25px;
	border-radius: 10px;
}
h2
{
	margin-bottom: 15px;
	color: darkblue;
	font-family: California;
	font-size: 30px;
}
.skill-box
{
	display: flex;
	justify-content: center;
	gap: 25px;
	flex-wrap: wrap;
	margin-top: 20px;
}
.skill-box div
{
	width: 150px;
	padding: 20px;
	text-align: center;
	background: linear-gradient(white, deepskyblue);
	color: darkblue;
	border-radius: 10px;
	font-size: 18px;
	font-family: Algerian;
	font-weight: bolder;
	display: flex;
	gap: 15px;
	flex-wrap: wrap;

}
.skill-box div:hover 
{
	cursor: pointer;
	color: blue;
	background: deepskyblue;
}
.project-card
{
	border-left:5px solid#00bcd4;
	padding: 15px;
	margin-bottom: 15px;
	background: #f9f9f9;
}
form input, 
form textarea
{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border:1px solid #CCC;
  border-radius: 5px;
}
button
{
	background: deepskyblue;
	color: black;
	border:1px solid black;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}
button:hover
{
	background: #0097a7;

}
footer
{
	text-align: center;
	background: #222;
	color: white;
	padding: 15px;
	margin-top: 20px;
}